@model List<StudentModel>;


<h1>STUDENT'S DETAILS</h1>

	<table>
		<tr style="text-align:center">
			
			<th style="padding-right:20px">
				Id
			</th>
			<th style="padding-right:20px">
				Name
			</th>
			<th style="padding-right:20px">
				Age
			</th>
			<th style="padding-right:20px">
				Department
			</th>
		</tr>

		@foreach (var student in Model)
		{
			<tr>
				<td>
					@student.StudentId
				</td>
				<td>
					@student.StudentName
				</td>
				<td>
					@student.Age
				</td>
				<td>
					@student.Department
				</td>
			</tr>
		}
	</table>



